<div class="border-bottom row" style="margin-bottom: 16px;padding-bottom:8px;">
    <div class="col-9">
        <h4 style="color: rgb(120,120, 120); margin-bottom: 4px;">
            {{ job['TITLE'] }}
        </h4>
        <div>
            <b>Location:</b> {{ job['LOCATION'] }}
        </div>
        <div>
            <b>Salary:</b> {{ job['SALARY'] }}
        </div>
        <div>
            <b>Description:</b> {{ job['DESCRIPTION'] }}
        </div>
    </div>
    <div class="col-3">
        <a href="https://www.google.com/?client=safari&zx=1766081750799&no_sw_cr=1" class="btn btn-primary btn-lg form-control-dark">APPLY</a>
    </div>
</div>